USE [master]
GO
/****** Object:  Database [BDClub_De_Football]    Script Date: 23-04-18 13:28:12 ******/
CREATE DATABASE [BDClub_De_Football]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDClub_De_Football', FILENAME = N'C:\Users\guysselnindjeu\BDClub_De_Football.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDClub_De_Football_log', FILENAME = N'C:\Users\guysselnindjeu\BDClub_De_Football_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDClub_De_Football].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDClub_De_Football]
GO
USE [BDClub_De_Football]
GO
/****** Object:  Table [dbo].[Table_Club]    Script Date: 23-04-18 13:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Club](
	[NumClub] [int] NOT NULL,
	[NomClub] [nvarchar](50) NOT NULL,
	[Address_CLub] [nvarchar](50) NOT NULL,
	[NAtionalité_Club] [nvarchar](50) NOT NULL,
	[Categorie_Club] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_Club] PRIMARY KEY CLUSTERED 
(
	[NumClub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Equipe]    Script Date: 23-04-18 13:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Equipe](
	[IdEquipe] [int] NOT NULL,
	[NomEquipe] [nvarchar](50) NOT NULL,
	[Division_Equipe] [nvarchar](50) NOT NULL,
	[NumClub] [int] NOT NULL,
 CONSTRAINT [PK_Table_Equipe] PRIMARY KEY CLUSTERED 
(
	[IdEquipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Membres]    Script Date: 23-04-18 13:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Membres](
	[IdMembres] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Membres] [nchar](50) NOT NULL,
	[Prenom_Membres] [nchar](50) NOT NULL,
	[Poste_Membres] [nchar](50) NOT NULL,
	[Nationalite_Membres] [nchar](30) NOT NULL,
	[Date_Naiss_Membres] [date] NOT NULL,
	[IdEquipe] [int] NOT NULL,
 CONSTRAINT [PK_Table_Membres] PRIMARY KEY CLUSTERED 
(
	[IdMembres] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Rencontre]    Script Date: 23-04-18 13:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Rencontre](
	[Num_Rencontre] [int] IDENTITY(1,1) NOT NULL,
	[Date_Rencontre] [datetime] NOT NULL,
	[Lieu_Rencontre] [nvarchar](50) NOT NULL,
	[Equipe_Adverse] [nvarchar](50) NOT NULL,
	[Score_Rencontre] [int] NOT NULL,
	[IdEquipe] [int] NOT NULL,
	[NumSemaine] [int] NOT NULL,
 CONSTRAINT [PK_Table_Rencontre] PRIMARY KEY CLUSTERED 
(
	[Num_Rencontre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
