USE [master]
GO
/****** Object:  Database [C:\USERS\GUYSSELNINDJEU\DOCUMENTS\CLUB_DE_FOOTBALL.MDF]    Script Date: 28-04-18 19:17:58 ******/
CREATE DATABASE [C:\USERS\GUYSSELNINDJEU\DOCUMENTS\CLUB_DE_FOOTBALL.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Club_De_Football', FILENAME = N'C:\Users\guysselnindjeu\Documents\Club_De_Football.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Club_De_Football_log', FILENAME = N'C:\Users\guysselnindjeu\Documents\Club_De_Football_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\GUYSSELNINDJEU\DOCUMENTS\CLUB_DE_FOOTBALL.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\GUYSSELNINDJEU\DOCUMENTS\CLUB_DE_FOOTBALL.MDF]
GO
USE [C:\USERS\GUYSSELNINDJEU\DOCUMENTS\CLUB_DE_FOOTBALL.MDF]
GO
/****** Object:  Table [dbo].[T_Club]    Script Date: 28-04-18 19:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Club](
	[IdClub] [int] IDENTITY(1,1) NOT NULL,
	[NomClub] [nvarchar](50) NOT NULL,
	[LocaliteClub] [nvarchar](50) NOT NULL,
	[AdresseClub] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ClubAdverse]    Script Date: 28-04-18 19:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ClubAdverse](
	[IdClubAdverse] [int] IDENTITY(1,1) NOT NULL,
	[NomClubAdverse] [nvarchar](50) NOT NULL,
	[AdressClubAdverse] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClubAdverse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Equipe]    Script Date: 28-04-18 19:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Equipe](
	[IdEquipe] [int] IDENTITY(1,1) NOT NULL,
	[NomEquipe] [nvarchar](50) NOT NULL,
	[NiveauEquipe] [nvarchar](50) NOT NULL,
	[IdClub] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEquipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_EquipeAdverse]    Script Date: 28-04-18 19:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EquipeAdverse](
	[IdEquipeAdverse] [int] IDENTITY(1,1) NOT NULL,
	[NonEquipeAdverse] [nvarchar](50) NOT NULL,
	[LocationEquipeAdverse] [nvarchar](50) NOT NULL,
	[NbrJoueursAdverse] [int] NOT NULL,
	[IdClubAdverse] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEquipeAdverse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Membres]    Script Date: 28-04-18 19:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Membres](
	[IdMembres] [int] IDENTITY(1,1) NOT NULL,
	[NomMembres] [nvarchar](50) NOT NULL,
	[PrenomMembres] [nvarchar](50) NOT NULL,
	[NationaliteMembres] [nvarchar](50) NOT NULL,
	[DateNaissanceMembres] [date] NOT NULL,
	[FonctionMembres] [nvarchar](50) NOT NULL,
	[AdresseMembres] [nvarchar](50) NOT NULL,
	[IdEquipe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMembres] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Rencontre]    Script Date: 28-04-18 19:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Rencontre](
	[IdRencontre] [int] IDENTITY(1,1) NOT NULL,
	[DateRencontre] [datetime] NOT NULL,
	[ScoreRencontre] [nchar](10) NOT NULL,
	[IdEquipe] [int] NOT NULL,
	[IdEquipeAdverse] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRencontre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
